{% extends "index.njk" %} {% block content %}
<div id="form-block" class="message-unavailable">
  <h1>🔥 Message Burned!</h1>
  <p>This message is no longer available.</p>
  <p><small>It may have already been read and destroyed.</small></p>
  <br />
  <a href="/" role="button">Create New Message</a>
</div>
{% endblock %}
