{% extends "index.njk" %} {% block content %}
<div id="form-block">
  <h1>Read & Burn</h1>
  <p>Create a self-destructing message</p>
  <form
    hx-post="/htmx"
    hx-target="#form-block"
    hx-swap="outerHTML"
    hx-indicator=".spinner"
  >
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter your name"
      required
    />

    <label for="message">Message</label>
    <textarea
      id="message"
      name="message"
      rows="5"
      placeholder="Enter your message"
      required
    ></textarea>

    <button type="submit">Submit</button>
  </form>

  <div class="spinner htmx-indicator">
    <span class="loader"></span>
  </div>
</div>
{% endblock %}
