{% extends "index.njk" %} {% block form%}
<form>
  <label for="name">Name</label>
  <input
    type="text"
    id="name"
    name="name"
    placeholder="Enter your name"
  />

  <label for="message">Message</label>
  <textarea
    id="message"
    name="message"
    rows="5"
    placeholder="Enter your message"
  ></textarea>

  <button type="submit">Submit</button>
</form>

{% endblock%}
